
main {
    background-color: skyblue;
    display:flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#one {
background-color: blue;
}

#two {
background-color: orange;
}

#three {
background-color: turquoise;
}

#one, #two, #three {
    width: 200px;
    height: 30px;
    margin: 10px auto;
}

h2, p {
    text-align: center;
    color: black;
    max-width: 200px

}

section {
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}


/* Bars */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas:
    "main"
    "g-one"
    "g-two"
    "g-three";
}

/* End Bars */

main {grid-area: main;}
.g-one {grid-area: g-one;}
.g-two {grid-area: g-two;}
.g-three {grid-area: g-three;}

/* Media Queries */

@media (min-width: 576px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "main main"
        "g-one g-two"
        "g-three .";
    }
    #one, #two, #three {
        width: 300px;
        height: 50px;
        margin: 10px auto;
    }
   
h2, p {
    max-width: 300px
}

}


@media (min-width: 992px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "main main main"
        "g-one g-two g-three";
        height: 100vh;
    }
main {
    background-color: turquoise;
}
section {
    background-color: black;
}

h2, p {
    color: white;

}

}